{% extends "index.html" %}
{% block content %}
<!-- {% load static %} -->
<h2>Business Home</h2>
<hr>
<div style="margin-left:1.5rem;">
    <h3>Services subscribed:</h3><hr>
    <br>
    <form action="/business/service_add/" method="post"> 
    {% csrf_token %}
    <div style="display: flex;">
      <div class="form-group">
        <label for="exampleFormControlSelect1" >Add Service</label>
        <select class="form-control" id="category" name="service" required size="1" style="max-width:100%;">
          {% for ser in service_list %}
            <option>{{ ser.name }}</option>

          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-success" style="margin-left: 3rem; margin-top: 2rem; height: 2rem;" required size="1">Add</button>
    </div>
    </form>  
  </div>

    {% for ser in services %}
    <div class="card mb-3 d-flex justify-content-center">
      <img src="{{ser.image.url}}" style="margin: 20px auto;" class=" border border-success " alt="Image not found" height="200px" width="300px" >
      <div class="card-body d-flex flex-column align-items-center" style="overflow-wrap: anywhere;">
        <h5 class="card-title text-xl"> Service Name: {{ser.name}}</h5>
        <h5 class="card-title text-xl"> Price:  {{ ser.price.price}}</h5>
        <p class="card-text text-center text-md">Service Description:  {{ser.description}}</p>
        <p class="card-text text-center text-lg">Payment Link For Wallet: <br> http://127.0.0.1:8000/pay_link/?service_name={{ser.name}}&service_owner={{ user.username }}&service_price={{ ser.price }}&payment_type=wallet</p>
        <p class="card-text text-center text-lg">Payment Link For Credit Card: <br> http://127.0.0.1:8000/pay_link/?service_name={{ser.name}}&service_owner={{ user.username }}&service_price={{ ser.price }}&payment_type=credit</p>
        <p class="card-text text-center text-lg">Payment Link For Debit Card: <br> http://127.0.0.1:8000/pay_link/?service_name={{ser.name}}&service_owner={{ user.username }}&service_price={{ ser.price }}&payment_type=debit</p>
        

        <form action="/business/price_change/" method="post" class="text-center"> 
          {% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="service" value="{{ser.name}}" />
              <input type="number" name="price">
            </div>
            <button type="submit" class="btn btn-success">Change Price</button>
          </form>  


      </div>
    </div>
    {% endfor %}
 
  

{% endblock content %}