{% extends 'base.html' %}

{% block style %}
    <style>
         body{
          background-image: url("https://source.unsplash.com/N82naZ0N4TY/1000x750");
          background-repeat: no-repeat;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
         }  
    </style>
{% endblock style%}

{% block content %}

{% load static %}
<html>
<body>
    <br><hr><br><hr> 
     <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Mera Pay - Just one step!</h5>
                <form class="form-signin" action={% url 'otp_verification_individual' %} method="post">
                    {%csrf_token %}
                    <div class="form-label-group">
                      <label for="inputPassword">Please enter OTP</label><br>
                      <input type="number" id="pan_number" name="otp" class="form-control" placeholder="Enter OTP here" required>
                      <br>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
                    <hr class="my-2">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>    
</body>
</html>

{% endblock %}
