{% extends "individual_index.html" %}
{% block content %}
{% load static %}


{% load render_table from django_tables2 %}

<h2>Transactions</h2>

<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'home_individual' %}">Back to Home Page</a>
    </small>
</div>
    <a class="btn btn-warning" href="/customers/individual/export/transaction/" role="button">Export</a>
    <a class="btn btn-success" href="/customers/individual/analysis/" role="button">Analysis</a>
    <br><br>

    <p> {% render_table transactions %}</p>

{% endblock content %}