{% extends "individual_index.html" %}
{% block content %}
{% load static %}
{% load rest_framework %}
<h2>Customer profile</h2>


<ul class="list-group">
    <li class="list-group-item">First Name : {{logged_in_user.first_name }}</li>
    <li class="list-group-item">Last Name : {{ logged_in_user.last_name }}</li>
    <li class="list-group-item">Email - {{ logged_in_user.email }}</li>
    <li class="list-group-item">Date Joined : {{ logged_in_user.date_joined }}</li>
    <li class="list-group-item">Phone : {{ logged_in_user.phone }}</li>
    <li class="list-group-item">Wallet : {{ logged_in_user.wallet }}</li>
    <li class="list-group-item">Profile Type : {{ logged_in_user.profile_type }}</li>
    <li class="list-group-item">Credit card number : {{ logged_in_user.credit_number }}</li>
    <li class="list-group-item">Debit card number : {{ logged_in_user.debit_number }}</li>
    <li class="list-group-item">Credit card balance : {{ logged_in_user.debit_balance }}</li>
    <li class="list-group-item">Credit card balance : {{ logged_in_user.credit_balance }}</li>
</ul>



<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'home_individual' %}">Back to Home Page</a>
    </small>
</div>
{% endblock content %}