{% extends "individual_index.html" %}
{% block content %}
<!-- {% load static %} -->
<h2>Individual Home</h2>
<div class="border-top pt-3">
    <div class="alert alert-primary text-center" role="alert">
        Welcome to Mera Pay!
    </div>
    <div class="container text-center">
        <p class="font-weight-bold text-info">
        <h4 class="text-center">As an individual you can use this platform to pay for the services.</h4>
        <hr class="sidebar-divider w-25">
        <h4 class="text-center">Also you can export to csv and see the visuals!</h4>
        <hr class="sidebar-divider w-25">
        <h4 class="text-center">An all-in-one individual account for online payments</h4>
        <hr class="sidebar-divider w-25">
        <h4 class="text-center">Online payments, your way!</h4>
        </p>
        <hr class="sidebar-divider w-50">
    </div>   
</div>
{% endblock content %}